.mainContainer{
    color: white;
    display: flex;
    flex-wrap: wrap;
    .avatar{
        background-image: url("../../media/img/avatar.svg");
        background-size: cover;
        width: 270px;
        height: 300px;
        margin-right: 15px;
        margin-bottom: 15px;
    }
    .info{
        .scaleTitleName{
            background: linear-gradient(135deg, rgba(245, 238, 238, .8) 50%, rgba(0, 0, 0, 0) 0);
            .titleName{
                color: indianred;
                font-family: 'Comfortaa', cursive;
                padding: 20px 0 2px 20px;
                h1{
                    font-size: 400%;
                }
            }
        }
        .otherInfo{
            margin-top: 20px;
            .descJob{
                font-weight: bold;
            }
            .descOpinion{
                margin-top: 20px;
                font-style: italic;
                width: 320px;
            }
        }
    }
}

@import "./media.scss";