#background{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.blur{
    backdrop-filter: blur(15px);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.backgroundSetka{
    background-image: url("../../media/img/setka.png");
    background-size: 10%;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-repeat: repeat;
    z-index: -1;
}